// Navigation code here

h1 {
    text-align: center;
    font-size: 4rem;
    margin: 10px auto;
    width: 100%;
}

nav {
    text-align: center;
    margin: 20px 0;
    
    a{
        text-decoration: none;
        margin: 5px 17px;
        color: @river-bend;
        font-size: 1.5rem;
    }
}
